* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #000000 !important;
}

/* __________________________COMMON-HEADINGS__________________________ */

:root {
    --main-color--: #24C32B;
    --primary--multi: linear-gradient(145deg, rgba(0, 128, 6, 1) 8%, rgba(42, 186, 49, 1) 37%, rgba(194, 255, 0, 1) 100%);
    --basic-color--: #fff;
    --content-bg-color--: #f5f7fa;
    --gray-color--: #eff2f6;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background: var(--primary--multi);
    border-radius: 50px;
}

.m-text {
    background: var(--primary--multi);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content !important;
}

.m-btn {
    background: var(--primary--multi) !important;
}

.s-text {
    color: #03ac0b;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.w-icon {
    background: var(--primary--multi);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    border: 5px solid #484848;
}

.wrap {
    word-break: break-all;
}

.light-text {
    color: #d4d4d4 !important;
}

.dataTables_info {
    background: var(--primary--multi);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.dataTables_length label,
.dataTables_filter label {
    color: #dcdcdc !important;
}

th {
    white-space: nowrap !important;
}

.modal {
    background-color: #00000020;
    backdrop-filter: blur(2px);
}

.select2-search__field {
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #000;
}
/* __________________________Header__________________________*/
.dropdown-menu {
    background-color: #353535 !important;
}

.dropdown-item {
    color: #c3c3c3 !important;
    font-size: 14px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.nav-link img {
    border: 2px solid var(--main-color--);
    padding: 2px;
}

/* __________________________SideBar__________________________*/

.sidebar.hidden {
    transform: translateX(-65%);
}

.content {
    transition: margin-left 0.3s ease;
    margin-left: 230px;
}

.content.shifted {
    margin-left: 70px;
}

@media (max-width: 992px) {
    .content {
        transition: margin-left 0.3s ease;
        margin-left: 0px;
    }
    
    .content.shifted {
        margin-left: 0px;
    }
}

.sidebar {
    min-width: 230px;
    transition: width 0.3s ease;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #f5f5f5;
    box-shadow: rgba(57, 93, 50, 0.352) 10px 50px 50px -20px, rgba(0, 0, 0, 0.088) 0px 30px 60px -30px, rgba(23, 179, 28, 0.364) 0px -2px 6px 0px inset; */
    background-color: #2c2c2c;
    box-shadow: rgba(0, 0, 0, 0.352) 10px 50px 50px -20px, rgba(0, 0, 0, 0.406) 0px 30px 60px -30px, rgb(0, 0, 0) 0px -2px 6px 0px inset;
    border-radius: 0 15px 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1050;
}

.nav-link {
    /* color: #000 !important; */
    color: #fff !important;
    opacity: 0.4;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: fit-content;
}

.nav-link:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-link.active {
    opacity: 1;
    background: var(--primary--multi);
    padding: 1.5px;
    border-radius: 12px;
}

.nav-link.active span {
    /* background-color: #fff; */
    background-color: #656565;
    backdrop-filter: blur(15px);
    display: inline-block;
    border-radius: 10px;
    padding: 10px 15px;
}

.nav-link small {
    font-size: 14px !important;
}

.icon,
path,
svg {
    background: var(--primary--multi);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link.active small,
.nav-link.active small i {
    background: var(--primary--multi);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}


/* __________________________ADMIN_DASHBOARD____________________________ */

.counters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
}

@media (max-width: 567px) {
    .counters {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 24px;
    }
}

.sub-bg {
    background-color: #202020 !important;
    backdrop-filter: blur(45px) !important;
}

.new-list::-webkit-scrollbar {
    display: none;
}

.new-list article {
    background-color: #ffffff1b;
    backdrop-filter: blur(15px);
}

th {
    font-weight: 600;
    font-size: 14px !important;
    padding: 15px !important;
    color: #fff !important;
}

td {
    color: #fff !important;
    font-weight: 300 !important;
    padding: 15px !important;
    font-size: 13px !important;
}

.odd {
    background-color: rgba(40, 40, 40, 0.712) !important;
}

.table>:not(caption)>*>* {
    border-bottom: none !important;
}

.form-select,
input, .select2-container--default .select2-selection--multiple, textarea {
    border: 2px solid var(--main-color--) !important;
    background-color: #181818 !important;
    color: #fff !important;
    border-radius: 5px !important;
}

input::placeholder,
select::placeholder {
    color: #a2a2a2 !important;
}

.form-select:focus,
input:focus {
    box-shadow: none !important;
}

select {
    border: 2px solid var(--main-color--) !important;
    background-color: #181818 !important;
    color: #fff !important;
    border-radius: 5px !important;
}

option {
    background-color: #212121fb !important;
    color: #fff !important;
}

.toggle-password-icon {
    color: var(--main-color--);
}


/* __________________________SUB-ADMIN_______________________ */
.counters-sec {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

@media (max-width: 1250px) {
    .counters-sec {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 24px;
    }
}

@media (max-width: 567px) {
    .counters-sec {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 24px;
    }
}

.add-sub-admin:hover img,
.add-sub-admin:hover h6 {
    scale: 1.15;
    transition: all ease-in-out .4s;
    color: var(--main-color--) !important;
}

.checkbox-wrapper .check {
    display: none;
}

.checkbox-wrapper .check+.check-btn {
    outline: 0;
    display: block;
    width: 35px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.checkbox-wrapper .check+.check-btn:after,
.checkbox-wrapper .check+.check-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
}

.checkbox-wrapper .check+.check-btn:after {
    left: 0;
    top: -6%;
}

.checkbox-wrapper .check+.check-btn:before {
    display: none;
}

.checkbox-wrapper .check:checked+.check-btn:after {
    left: 50%;
}

.checkbox-wrapper .check-box+.check-btn {
    padding: 2px;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
}

.checkbox-wrapper .check-box+.check-btn:after {
    transition: all 0.2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 50px;
}

.checkbox-wrapper .check-box:checked+.check-btn {
    border: 2px solid var(--main-color--);
}

.checkbox-wrapper .check-box:checked+.check-btn:after {
    left: 66%;
    top: -6%;
    background: var(--primary--multi);
}



/* __________________________Main Content__________________________*/
.content {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
    color: #fff;
}

.table {
    --bs-table-bg: none !important;
}

.form-floating label {
    background-color: transparent !important;
    color: #fff !important
}

.form-floating input {
    font-size: 14px
}

.form-floating label::after {
    background-color: transparent !important;
    color: #fff !important;
    padding: 10px !important;
}

::-webkit-file-upload-button {
    display: none;
}